---
import SourceCodeProPath from "../../assets/SourceCodePro-VariableFont_wght.ttf";
import StartPress2pPath from "../../assets/Press/PressStart2P-Regular.ttf";
import InitColorScheme from "../lib/color-scheme/InitColorScheme.astro";
import { Commands } from "../lib/Commands";
import GrainOverlay from "../lib/GrainOverlay/GrainOverlay.astro";
import { Link } from "../lib/Link";
import ScrollbarStyles from "../lib/ScrollbarStyles.astro";
import SocialCardMetaTags from "../lib/SocialCardMetaTags.astro";
import type { PostFrontmatter } from "../types";

import "../global-styles/base.css";
import "../global-styles/controls.css";
import "../global-styles/integrations.css";
import "../global-styles/font.css";
import "../lib/prose/prose.css";

interface Props {
  title: string;
  description: string;
  children: astroHTML.JSX.Element;
  ogImage?: string;
  className?: string;
  viewTransition?: boolean;
}

const { title, description, ogImage, viewTransition } = Astro.props;
console.log({ title, description, ogImage, viewTransition });

const posts = (await Astro.glob<PostFrontmatter>("../../posts/**/*.mdx"))
  .filter((p) => (import.meta.env.PROD ? !p.frontmatter.draft : true))
  .map((p) => ({
    href: p.frontmatter.path,
    title: p.frontmatter.title,
    date: p.frontmatter.date,
  }));

posts.sort((a, b) => {
  return new Date(b.date).getTime() - new Date(a.date).getTime();
});
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content={description} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap"
      rel="stylesheet"
    />
    {
      [SourceCodeProPath, StartPress2pPath].map((href) => (
        <link rel="preload" href={href} as="font" type="font/ttf" crossorigin />
      ))
    }

    <SocialCardMetaTags ogImage={ogImage} />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <title>{title}</title>
    <InitColorScheme />
  </head>
  <body>
    <div class="p-4">
      <header
        class="-mt-2 flex items-center justify-between"
        style={{ height: "37.5px" }}
      >
        <slot name="header-content">
          <Link href="/">← back</Link>
        </slot>
        <Commands client:load posts={posts} />
      </header>
      <slot />
      <GrainOverlay opacity={0.25} />
    </div>
    <ScrollbarStyles />
  </body>
</html>
