---
import type { MarkdownLayoutProps } from "astro";
import Image from "../lib/prose/Image.astro"
import { createOgImageLink } from "../lib/createOgImageLink";
import { formatDate } from "../lib/formatDate";
import TableOfContents from "../lib/TableOfContents/TableOfContents.astro";
import type { PostFrontmatter } from "../types";


import BaseLayout from "./BaseLayout.astro";

import "../global-styles/shiki.css";
import { Link } from "src/lib/Link";

interface Props extends Omit<MarkdownLayoutProps<{}>, "frontmatter"> {
  frontmatter: PostFrontmatter;
}

const { frontmatter, headings } = Astro.props;

const ogImage = createOgImageLink(frontmatter);
const readingTime = frontmatter.readingTime;
const date = new Date(frontmatter.date);
const description = frontmatter.description || ""
const imgSrc =
  typeof frontmatter.img === "object" ? frontmatter.img.src : frontmatter.img;
---

<main class="zaduma-prose py-4 max-w-container mx-auto ">
<BaseLayout title={frontmatter.title} ogImage={ogImage} description={description} viewTransition={true}>
  <Link href="/projects" slot="header-content">← projects</Link>
    <header
      class="pt-4 flex justify-between items-start sm:items-center flex-col sm:flex-row"
    >
        {
          readingTime.minutes > 1 && (
            <>
              <span>{readingTime.text}</span>
              {" · "}
            </>
          )
        }
        <time
          datetime={date.toISOString()}
          class="tabular-nums tracking-tighter"
        >
          {formatDate(date)}
        </time>
    </header>
    <h1 class="text-4xl font-bold leading-tight mt-4 mb-8">
      {frontmatter.title}
    </h1>
    {
      imgSrc && (
        <Image alt="" src={imgSrc} format="webp" width={774} aspectRatio={2} />
      )
    }
    <slot />
  <style is:global>
     {
      /* make the spacing even when there's no callout nor image */
    }
    .zaduma-prose > header + :is(p, .zaduma-aside) {
      margin-top: 2em;
    }
  </style>
</BaseLayout>
</main>
<TableOfContents headings={headings} />

